body {
    font-family: 'Calibri';
    font-size: 18px;
}

h1, h2, h3, h4, h5,
a, span {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color:cadetblue;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid rgb(86, 133, 134);
}

.container > article{
  color: #fff;
}

.container > article a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: darkcyan;
  display: block;
  width: 150px;
  padding: 5px;
  text-align: center;
  border: 1px solid #eee;
}

table {
  width: 100%;
  margin-bottom: 50px;
}

table td {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}

table tr.thead {
    background-color: teal;
    color: #fff;
}

table td.current-active {
    background-color: teal;
    color: #fff;
    position: relative;
}

table td.current-active::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/bus.png');
    background-size: contain;
    left: calc(50% - 25px);
    bottom: -40px;
}